.gdb_history
bin
gen
jniLibs
obj
.gradle
.idea
.cxx
**/*.iml
build
local.properties
*~

/artifacts/
/buildscripts/deps/
/buildscripts/prefix/
/buildscripts/sdk/
/.work/
/*.log
__pycache__/
*.pyc
.dart_tool/
pubspec.lock
/packages/media_kit_libs_android_video/native_sources/corresponding-source.tar.gz
